.item-list-container {
    display: flex;
    width: 100%;
    padding: 30px;
    margin-bottom: 60px;
  
      }

  
  
  .item-list-container__title {
    
    text-align: center; 
    margin: 30px 0;
    font-size: 2rem;
    
  }

